doctype html
html(lang="ko")
    include inc/head.pug
body 
    header#header
        div.h-tit 
            a(href="") 
                img(src="", alt="")
            h2 Login

    div#index-wrap 
        form#loginform.btn-wrap(action="#" method="post")
            input.btn-comn.signup-btn.btn-line 
            input 
            button 
            
